/ --------------footer----------------
#footer
  .foot-content.table
    　　
    .table-cell.middle.center
      .foot-nav
        %h4 トップページ　コンテスト新規作成　使い方　お問い合わせ
        %h4 プライバシーポリシー　ヘルプ　English
        %h4 Copyrights (C) 2015 IMAI SHOHEI. ALL Rights Reserved.

/ ------------------------------------