= render partial: "header"

/ ---------------main-----------------
#main
  .main-bar
    =image_tag('create-bar.png',:height => "80", :width => "850")
  .input-data
    .input-title
      .float-left
        動画の追加（２／４）
    .clear

    = form_for @movie, url: {action: "add"} do |f|
      .input-url
        %a{:href => "https://www.youtube.com/", :target => "_blank"}
          YOUTUBE
        の埋め込みコードを入力して下さい
      .input-code
        = f.text_field :url
      .candidacy
        =f.submit(["追加する"])

        -#= submit_tag '追加する'

      / .now-list-title
      /   現在追加されている動画
      / .now-list{:style => "background-image: url('./img/bg.gif')"}
      /   .tab-content
      /     .tab-pane.fade.in.active{:id => "投票ページ", :role => "tabpanel"}
      /       .row
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する
      /       .row
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する
      /         .col-xs-4
      /           .thumbnail
      /             %iframe{:allowfullscreen => "", :frameborder => "0", :height => "150", :src => "https://www.youtube.com/embed/4JsJoBzF4AY", :width => "180"}
      /             .caption
      /               %h3 No.1 Hilty&Bosch
      /               %p{:style => "text-align: right"} 投稿者：  dance2000
      /               %p
      /               .vote
      /                 %button 削除する

      .button-group
        .next-button
          =link_to "次へ進む", {:action => "preview"},{:class => "btn btn-warning"}
        .back-button
          =link_to new_contest_path, class: "btn btn-default" do
            戻る
        .clear
/ ------------------------------------

= render partial: "footer"
