= render partial: "header"

/ ---------------main-----------------
#main
  .main-bar
    =image_tag('create-bar.png',:height => "80", :width => "850")
  .input-data
    .input-title
      .float-left
        URLの出力（４／４）
    .clear
    .url-box
      make1movie.com/contests/
      =@contest.id

/ ------------------------------------

= render partial: "footer"
